.backgroundSkew {
    // clip-path: ellipse(900px 700px at 10% 20%);
    background-color: $deepred;
}




.christmas-heading {
    text-align: center;
    margin: 20px;
    padding-top: 46px;
    color: white;
    font-weight: 700;
    font-family: $font-primary;
}

.christmas-subheading {
    margin-bottom: 46px;
    color: $tealgreen;
    font-size: 15px;
}
