

$bottegaGreen: #00CB79;
$clearBlue: #45B0E5;
$mainGray: #CFCFCF;
$darkGray: #444444;
$limegreen: #80ff80;
$deepred: #660000;
$tealgreen: #39ac73;
$darkgreen: #004d00;





$font-primary: 'Montserrat', sans-serif;

